<<<<<<< HEAD
body {
=======
/* body {
>>>>>>> 1fc22870dfa5725a072b73196f4487a58d2693c9
  font-size: 16px;
}

.form {
  background-color: #f0f0f0;
  padding: 20px;
}

<<<<<<< HEAD
.form--lienhe input[type="text"],
.form--lienhe input[type="email"],
.form--lienhe textarea {
  width: 100%;
  padding: 10px 0;
  /* padding-left: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

.form--lienhe input[type="submit"] {
  width: 100%;
=======

input[type="submit"] {
>>>>>>> 1fc22870dfa5725a072b73196f4487a58d2693c9
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
<<<<<<< HEAD
=======
.wrapper1 {
  padding: 10px 0;
} */
>>>>>>> 1fc22870dfa5725a072b73196f4487a58d2693c9
